.skill-list {
  display: flex; /* Makes list items align horizontally */
  list-style: none; /* Removes the bullet points */
}

.skill-list li {
  padding: 10px;
}
.exp-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Space between logo and EXP bar */
}
